/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
    border-radius: 5%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}



body {
    margin-top: 10px;
    min-width: 1200px;
}

@media screen and (max-width: 1000px) {
    body {
        width: 100%;
    }
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.wrapper { /*contenedor del titulo y las imagenes de la parte superior de la pagina*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    max-width: 1110px;
    display: grid; /*para que se puedan colocar los elementos de forma sencilla como si fuera una tabla*/
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
}

.titulo {
    grid-column: 2;
    grid-row: 1;
}

nav { /*menu de navegacion*/
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 5.45455px;
    text-transform: uppercase;
    max-width: 750px;
}

nav a {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    padding: 40px;
}

nav a:hover {
    color: #44C0FE;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 80px;
        padding-top: 20px;
    }

    nav { /*menu de navegacion*/
        font-size: 20px;
    }
}

.banner { /*banner de la pagina*/
    max-height: 800px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    background-color: #686868;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 132px;
}

.principal {
    width: 670px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 140px;
}

.prin_img {
    min-height: 101px;
    min-width: 101px;
}

.prin_text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.detalles {
    margin-top: 5px;
}

.detalles h6 {
    margin: 3px;
    display: inline;
}

.detalles p {
    margin: 3px;
    display: inline;
    color: rgba(0, 0, 0, 0.6);
}

#barranormal {
    color: #FFFFFF;
}

#imagen_banner {
    width: 1500px;
    height: 320px;
}

/*estilos propios para la seccion del autor*/
.card {
    transform: translateY(85px);
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 349px;
    border: 1px gray solid;
    background-color: #ffffff;
    padding: 50px;
}

.card_img {
    height: 170px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.card h5 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2B2B2B;
}

.card h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
    /* identical to box height, or 122% */
    color: #000000;
}

.card p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #2B2B2B;
}
/*hasta aqui los estilos propios de card*/

@media screen and (max-width: 1000px) {

    .wrapper { /*contenedor del titulo y las imagenes de la parte superior de la pagina*/
        max-width: 100%;
        display: grid; /*para que se puedan colocar los elementos de forma sencilla como si fuera una tabla*/
    }

    .banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        max-height: 300%;
        margin-bottom: 20px;
    }
    
    .principal {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        margin: 20px;
    }
    
    .prin_img {
        margin-bottom: 30px;
    }
    
    .prin_text  h2{
        font-size: 40px;
    }

    .detalles {
        margin: 15px;
    }
    
    .detalles h6 {
        font-size: larger;
    }
    
    /*estilos propios para la seccion del autor*/
    .card {
        transform: none;
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        margin: 20px;
        padding: 20px;
    }
    
    .card_img {
        max-height: 600px;
        height: 200px;
        width: 700px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .card h5 {
        font-size: 30px;
        margin-top: 30px;
    }
    
    .card h4 {
        font-size: 50px;
    }
    
    .card p {
        font-size: 25px;
    }
}

article h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.blog {
    display: flex;
    flex-direction: row;
    width: 1110px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.blog h2:hover, .banner h2:hover {
    color: #44C0FE;
    text-decoration: underline;
    cursor: pointer;
}

.blog-M { /*estilos para el cuerpo de la pagina home*/
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 660px;
}

.blog-XL {
    display: flex;
    flex-direction: column;
    width: 667px;
    max-height: 532px;
    height: 532px;
}

.blog-M img {
    margin-top: 20px;
    width: 380px;
    height: 450px;
}

#final_image {
    height: 320px;
}

.blog-XL img {
    margin-bottom: 20px;
    width: 667px;
    height: 400px;
}

.blog-M h2, .blog-XL h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: #000000;
}

.blog-M h6, .blog-XL h6 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

.etiqueta, .etiquetagrupo { /*estilos para las etiquetas de los articulos*/
    max-width: 200px;
    height: 33px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #F7F6F6;
    padding: 5px;
    color: #000000;
    font-weight: bold;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .blog {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 150%;
    }
    
    .blog-M { /*estilos para el cuerpo de la pagina home*/
        width: 100%;
        align-items: center;
        padding: 20px;
        height: auto;
    }
    
    .blog-XL {
        width: 100%;
        align-items: center;
        padding: 20px;
    }

    #XL2 {
        margin-bottom: 70%;
        border-top: 20px solid #D8D8D8;
    }
    
    .blog-M img {
        margin-bottom: 20px;
        width: 100%;
    }
    
    .blog-XL img {
        margin-bottom: 20px;
        width: 100%;
    }
    
    .blog-M h2, .blog-XL h2 {
        line-height: 50px;
        margin: 5px;
        font-size: 50px;
    }
    
    .blog-M h6, .blog-XL h6 {
        font-size: 20px;
        margin: 5px;
    }

    .blog-M p, .blog-XL p {
        font-size: 40px;
    }
    
    .etiqueta, .etiquetagrupo { /*estilos para las etiquetas de los articulos*/
        max-width: 300px;
        height: 40px;
        width: fit-content;
    }
}

.social{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.social h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2B2B2B;
    width: 100%; 
    text-align: left; 
    border-bottom: 1px solid #D8D8D8;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.social h3 span { 
    background:#fff; 
    padding:0 10px;
}


.social_nets{
    display: flex;
    justify-content: space-between;
    gap: 31px;
    margin: 70px 0 70px 0;
}

.social_nets img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.social_nets :hover{
    cursor : pointer;
}

.footer{ /*estilos para el footer*/
    border-top: 1px solid #D8D8D8; 
    line-height: 0.1em;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.footer nav{ /*estilos para el navegador del footer*/
    display:block;
    position: relative;
    margin:0px;
    margin-bottom: 30px;
}
 
.blue_hover:hover{
    color: #44C0FE;
}

.footer nav a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */
    margin:10px;
    margin-left:0px;
    padding:0px;
    margin-top:40px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
    color: rgba(0, 0, 0, 0.216882);
}

@media screen and (max-width: 1000px) {
    .social{
        width: 100%;
    }

    .social h3{
        font-size: 30px;
    }

    .social_nets {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .social_nets img {
        width: 80px;
        height: 80px;
    }

    .footer {
        padding-top: 20px;
        border-top: 1px solid #D8D8D8;
    }

    .footer nav {
        margin: 0;
        margin-bottom: 20px;
    }

    .footer nav a {
        margin: 5px;
        margin-left: 0;
        padding: 0;
        margin-top: 20px;
        font-size: 30px;
    }
}
